$gray-lighter:                    #E6EAEF;
$gray-light:                      #CED0DB;
$gray:                            #6D6F7F;
$gray-dark:                       #3F4351;
$gray-darker:                     #252730;
$font-size:                       16px;
$font-family:                     'Booster Next FY', 'Avenir Next', Avenir, sans-serif;
$font-family-heading:             $font-family;

$line-height:                     1.15;
// refer : https://github.com/loup-brun/buttons/blob/5b44621dcd82dbff924398f4fd12a780a8012112/scss/buttons/_variables.buttons.scss
$iota-v-spacing:                 0.1em;
$iota-h-spacing:                 1.2em;
$iota-border-radius:             (1em * $line-height) / 2 + $iota-v-spacing + 0.15em;
$iota-border-width:              2px;


// Refer : https://github.com/loup-brun/buttons/blob/5b44621dcd82dbff924398f4fd12a780a8012112/scss/buttons/_iota.scss

// Mixin
@mixin btn-iota($color, $text-color: $color) {
  color: $text-color;
  border-color: $color;
  &:hover {
    color: check-background($color);
    background-color: $color;
  }

  &:active {
    background-color: darken($color, 3%);

    &:after {
      background-color: darken($color, 3%);
    }
  }

  &:after {
    background-color: $color;
  }
}

// refer : https://github.com/loup-brun/buttons/blob/5b44621dcd82dbff924398f4fd12a780a8012112/scss/_mixins.scss
@function check-background($color) {
  @if (lightness($color) > 66) {
    @return $gray-darker; // Lighter background, return dark color
  } @else {
    @return $gray-lighter; // Darker background, return light color
  }
}

@mixin v-padding($padding-top, $padding-bottom: $padding-top) {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}

@mixin h-padding($padding-left, $padding-right: $padding-left) {
  padding-left: $padding-left;
  padding-right: $padding-right;
}

@mixin btn-common($v-spacing, $h-spacing: $v-spacing, $border-radius: 0, $border-width: 0) {
  display: inline-block;
  font-size: inherit;
  line-height: $line-height;
  padding: $v-spacing $h-spacing;
  font-weight: normal;
  border-width: $border-width;
  border-style: solid;
  background: transparent;
  border-radius: $border-radius;
  cursor: pointer;
  font-family: $font-family;
  user-select: none;
  vertical-align: bottom;

  &.btn-disabled {
    cursor: not-allowed;
    opacity: 0.8;

    &:active {
      opacity: 0.6;
    }
  }
}


.btn {
  @include btn-common($iota-v-spacing, $iota-h-spacing, $iota-border-radius, $iota-border-width);
  position: relative;
  border-style: solid;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;


  &:hover {
    &:after {
      transform: scaleX(1);
      opacity: 1;
      transition: transform 0.3s, opacity 0.3s;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: $iota-border-radius;
    transform: scaleX(0.7);
    opacity: 0;
    transition: transform 0.8s, opacity 0.3s;
  }
}


.btn-primary { @include btn-iota($color-primary); }
.btn-secondary { @include btn-iota($color-secondary); }
.btn-tertiary { @include btn-iota($color-tertiary); }
.btn-tetrary { @include btn-iota($color-tetrary); }

.btn-black { @include btn-iota($gray-darker); }
.btn-dark { @include btn-iota($gray-dark); }
.btn-gray { @include btn-iota($gray); }
.btn-light { @include btn-iota($gray-lighter); }
