<script>
  function convertWikiLink(elem) {
    elem.innerHTML = elem.innerHTML.replace(/\[\[(.+?)\]\]\{(.+?)\}/g, (original, matching, display) => {
      console.log(matching, display);
      return `<a href="/wiki/${matching.toLowerCase().replace(/ /g, '-').replace(/[()]/g, '')}">${display}</a>`;
    });
    elem.innerHTML = elem.innerHTML.replace(/\[\[(.+?)\]\]/g, (original, matching) =>
      `<a href="/wiki/${matching.toLowerCase().replace(/ /g, '-').replace(/[()]/g, '')}">${matching}</a>`);
  }
  ;(function() {
    var content = document.querySelector('.content');
    convertWikiLink(content);
    var parent = document.querySelector('.parent-doc');
    convertWikiLink(parent);
  })();
</script>
