<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MD98 블로그 : {{ page.title }}</title>
        {% include favicon.html %}
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:description" content="MD98 블로그 : {{ page.title }}">
        <meta property="og:image" content="{{ site.params.favicon | absolute_url }}">
        {% include js.html %}
        {% include mathjax.html %}

        {% include google-site-verification.html %}
        {% include css.html %}
    </head>

    <body>
      <nav class="nav-main">
        <ul>
          {% for item in site.menu %}
            <li><a href="{{ item.url }}">{{ item.name }}</a></li>
          {% endfor %}
            <li>{% include search.html %}</li>
        </ul>
      </nav>
