{{ define "main_article" }}
<article class="main">
  <div class="home">
    <div class="title">
      {{ with $.Site.Params.header.logo.imgUrl }}
      <img class="logo" src="{{ $.Site.BaseURL }}{{ . }}" />
      {{ end }}

      {{ with $.Site.Params.header.title }}
      <h1 class="title-caption">{{ . }}</h1>
      {{ end }}

      {{ with $.Site.Params.header.subtitle }}
      <h2 class="subtitle">
        {{ . }}
      </h2>
      {{ end }}
    </div>
    <div class="content">
      {{ with .Site.GetPage "/wiki/_index" }}
      {{ .Content }}
      {{ end }}
    </div>
    <div class="recent">
      <h3 class="recommend-title">
        Recent Changes
      </h3>
      <ul class="recent-posts-list">
        {{ range ( $.Site.RegularPages | first ($.Site.Params.homePage.numOfRecentPosts | default 5) ) }}
        {{ $page := . }}
        <li>
          <a
            href="{{ .Permalink }}"
            title=".{{ .RelPermalink }}"
          >
            {{ if $page.Title }}
              {{ $page.Title }}
            {{ else }}
              {{ .File.BaseFileName | humanize }}
            {{ end }}
          </a>
          <div class="list-terms">
            <ul>
              {{ range $page.Params.tags }}
              {{ . }}
              {{ end }}
            </ul>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</article>
{{ partial "wikilink" . }}
{{ end }}
