{{ define "main_article" }}

<article class="main">
  <div class="title">
    <h1 class="title-header">
        {{ if .Title }}
            {{ .Title }}
        {{ else }}
          {{ $.File.BaseFileName | humanize }}
        {{ end }}
    </h1>
  </div>
  {{ partial "created" . }}

  <div class="article-meta">
    <div class="breadcumb content">
      <i class="bi bi-folder"></i>
      {{ partial "module/breadcrumb" . }}
    </div>
  </div>
              <div class="list-terms">
                <ul>
                  <i class="bi bi-tags" title="Tags"></i>
                  {{ range .Params.tags }}
                  <a href="/tags/{{.}}" class="tag-btn">{{ . }}</a>
                  {{ end }}
                </ul>
              </div>

  <aside class="navbar" id="nav-toc" style="text-align: left">
    {{ .TableOfContents }}
  </aside>
  <div class="content">
    {{ if .Content }}
    {{ .Content }}
    {{ else }}
    <p class="no-content">
      {{ i18n "empty_page" |  strings.FirstUpper }}
    </p>
    {{ end }}
  </div>
        <hr />
        <div class="list-files">
            {{ partial "module/section_tree" ( dict "context" . "currentPage" . ) }}
        </div>
  </article>

  {{ partial "wikilink" . }}
  {{ partial "comment" . }}
{{ end }}
