{{ partial "header" . }}

<main>
    <div class="navigator" style="display:flex;">
      <div style="display:flex;">
        <a href="/wiki"><button class="btn btn-link">Front Page</button></a>
      </div>
      <div style="margin-left:auto;">
        {{ partial "wikihistory" . }}
      </div>
    </div>

    <h2>{{ .Title }}</h2>
        {{ partial "created" . }}
        {{ partial "tags" . }}
    </div>

    <div align="start" class="content">{{ .Content }}</div>

    <h2> 최근 게시물 </h2>
    <div class="recent">
      {{ range .Pages.ByLastmod.Reverse }}
        {{ partial "list-item" . }}
      {{ end }}
      <nav style="font-size: 2rem;">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" id="prev-item">
              <i class="fa fa-arrow-left"></i>
              Prev
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" id="pageNumber">
              0
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" id="next-item">
              Next
              <i class="fa fa-arrow-right"> </i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <script>
      var now = 1;
      var perPage = 10;
      var itemList = document.querySelectorAll(".recent > .item");
      var maxNumber = Math.ceil(itemList.length / perPage);
      var pageNumberElem = document.querySelector("#pageNumber");
      var prevBtn = document.querySelector("#prev-item");
      var nextBtn = document.querySelector("#next-item");
      function displayItem(page) {
        for (var i = 0; i < itemList.length; i += 1) {
          if (Math.floor(i / perPage) + 1 === now ) {
            itemList[i].style.display = "inherit";
          } else {
            itemList[i].style.display = "none";
          }
        }
        if (now == 1) prevBtn.parentElement.classList.add("disabled");
        else if (now == maxNumber) nextBtn.parentElement.classList.add("disabled");
        else {
          prevBtn.parentElement.classList.remove("disabled");
          nextBtn.parentElement.classList.remove("disabled");
        }
        pageNumberElem.innerText = `${now} / ${maxNumber}`;
      }
      displayItem(now);
      prevBtn.addEventListener('click', () => {
        now -= 1;
        now = now > 0 ? now : 1;
        displayItem(now);
      });
      nextBtn.addEventListener('click', () => {
        now += 1;
        now = now > maxNumber ? maxNumber : now;
        displayItem(now);
      });
      // TODO : Modal Dialog
      pageNumberElem.addEventListener('click', () => {
        try {
          var tmp = Number(prompt('Page : ', now));
          now = tmp < 1 || tmp > maxNumber ? now : tmp;
        } catch (err) {
          console.error(err);
        }
        displayItem(now);
      });
    </script>


    {{ partial "wikilink" . }}
    {{ partial "comment" . }}
</main>
{{ partial "footer" . }}
