{{ partial "header" . }}

<main>

    <div>
        <h2>{{ .Title }}</h2>
        <h5>created : {{ .Date.Format (.Site.Params.dateFormat | default "Mon, 02 Jan 2006 15:04:05 -0700") }}</h5>
        <h5>modified : {{ .Lastmod.Format (.Site.Params.dateFormat | default "Mon, 02 Jan 2006 15:04:05 -0700") }}</h5>
        {{ partial "tags" . }}
    </div>

    <div align="start" class="content">{{ .Content }}</div>

  {{ partial "wikilink" . }}
  {{ partial "comment" . }}
</main>
{{ partial "footer" . }}
