{{ partial "header" . }}

<main>
    {{ partial "wikinavigator" .}}
    <div>
        <h2>{{ .Title }}</h2>
        {{ partial "created" . }}
        {{ partial "tags" . }}
        {{ partial "wikiparent" . }}
    </div>

    <aside class="navbar" id="nav-toc" style="text-align:left;">{{ .TableOfContents }}</aside>
    <div align="start" class="content" data-spy="scroll" data-offset="20" data-target="#nav-toc" style="position:relative;">
      {{ .Content }}
    </div>

  {{ partial "wikilink" . }}
  {{ partial "comment" . }}
</main>
{{ partial "footer" . }}
