{% include header.html %}

{% if page.draft %}
<main>
  <h1>¯\_(ツ)_/¯</h1>
  <h2>Nothing here</h2>
</main>
{% else %}
<main>
    {% include wikinavigator.html %}
    <div>
        <h2>{{ page.title }}</h2>
        {% include created.html %}
        {% include tags.html %}
    </div>

    <aside class="navbar" id="nav-toc" style="text-align:left;">{% include toc.html html=content %}</aside>
    <div align="start" class="content" data-spy="scroll" data-offset="20" data-target="#nav-toc" style="position:relative;">
      {{ content }}
    </div>

  {% include wikilink.html %}
  {% include comment.html %}
</main>
{% endif %}
{% include footer.html %}
